@model ShoesProject.Models.ShoesModel

@{
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<!--Header-part-->
<div id="header">
    <h1>
        <a href="dashboard.html">Admin</a>
    </h1>
</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<!--sidebar menu-->
<script src="~/plugin/plugin/ckeditor/ckeditor.js"></script>
<form action="/Admin_Product/SaveInfo" method="post" enctype="multipart/form-data">
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="#" title="Go to Home"
                   class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Product</a> <a href="#" class="current">Details</a>
            </div>
            <h1>Details of product</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Basic Information - <span>@ViewBag.successSave</span></h5>
                            <button id="editButton" type="button" class="btn btn-info"
                                    onclick="enableFixing()">
                                Edit
                            </button>
                            <button id="cancelButton" type="button" class="btn btn-info"
                                    onclick="cancelFixing()">
                                Cancel
                            </button>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">ID Product :</label>
                                    <div class="controls">
                                        <input type="hidden" name="id" value="@Model.id" />
                                        <input disabled type="text" class="span6" value="@Model.id" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Name :</label>
                                    <div class="controls">
                                        <input disabled type="text" class="span11" name="name" value="@Model.name"
                                               placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Size :</label>
                                    <div class="controls">
                                        <input disabled type="number" class="span11" name="size" value="@Model.size"
                                               placeholder="Text..." requried />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Material: </label>
                                    <div class="controls">
                                        <input disabled type="text" class="span11" name="material"
                                               value="@Model.material" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"> Brand:</label>
                                    <div class="controls">
                                        <input disabled type="text" class="span11" name="brand"
                                               value="@Model.brand" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Price old: </label>
                                    <div class="controls">
                                        <input disabled type="number" class="span11" name="pricebefore"
                                               value="@Model.pricebefore" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Price new: </label>
                                    <div class="controls">
                                        <input disabled type="number" class="span11" name="price"
                                               value="@Model.price" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Date :</label>
                                    <div class="controls">
                                        <input disabled type="date" class="span11" name="date" value="@Model.date"
                                               placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Manufactory :</label>
                                    <div class="controls">
                                        <input disabled type="text" class="span11" name="manufactory"
                                               value="@Model.manufactory" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Category: </label>
                                    <div class="controls">
                                        <input disabled type="text" class="span11" name="category"
                                               value="@Model.category" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Check quality: </label>
                                    <div class="controls">
                                        <input disabled type="text" class="span11" name="checkquality"
                                               value="@Model.checkquality" placeholder="Text..." required />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Description</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Width: </label>
                                    <div class="controls">
                                        <input disabled type="number" class="span11" name="width"
                                               value="@Model.width" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Height:</label>
                                    <div class="controls">
                                        <input disabled type="number" class="span11" name="height"
                                               value="@Model.height" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Depth: </label>
                                    <div class="controls">
                                        <input disabled type="number" class="span11" name="depth"
                                               value="@Model.depth" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"> Weight:</label>
                                    <div class="controls">
                                        <input disabled type="number" class="span11" name="weight"
                                               value="@Model.weight" placeholder="Text..." required />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Description: </label>
                                    <div class="controls">
                                        <textarea disabled class="span11" rows="5"
                                                  value="@Model.description" name="description"
                                                  placeholder="Enter new description...">@Model.description</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Image of product</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <img id="blah" src="~/@Model.imageslink" alt="your image">

                            <input type="file" id="imgInp" name="file[0]"><br />
                        </div>
                         @if (ViewBag.options != null) {
                             var count = 1;
                             foreach (var op in ViewBag.options)
                             {
                            <div class="widget-title">
                                <span class="icon">
                                    <i class="icon-align-justify"></i>
                                </span>
                                <h5 style="display: inline-block">Option</h5>
                                <button onclick="createOptionHTML()" style="margin-top: 5px; float: right; margin-right: 5px; width: 24px; border: 1px solid #27a9e3; border-radius: 3px; color: #27a9e3; background: white ">+</button>
                            </div>
                            <div class="widget-content nopadding">
                                <div class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label">Color: </label>
                                        <div class="controls">
                                            <input disabled type="text" class="span11"
                                                   name="coloroption1" placeholder="Color..." value="@op.color" required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Size:</label>
                                        <div class="controls">
                                            <input disabled type="number" class="span11"
                                                   name="sizeoption1" placeholder="Number..." value="@op.size" required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Price: </label>
                                        <div class="controls">
                                            <input disabled type="number" class="span11"
                                                   name="priceoption1" placeholder="Number..." value="@op.price" required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Quantity: </label>
                                        <div class="controls">
                                            <input disabled type="number" class="span11"
                                                   name="quantityoption1" placeholder="Number..." value="@op.quantity" required />
                                        </div>
                                    </div>
                                </div>
                                <img class="blahOp" src="~/@op.img" alt="your image">
                                <br />
                                <input type="file" name="file[@count]" class="imgInpOp span11" required><br />
                            </div>
                                 count++;
                             }}
                    </div>
                </div>
                <div class="span6" style="margin-left: 0; width:100%;">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Description</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <textarea id="editor" name="details" value="@Model.details">
                            @Model.details
                            </textarea>
                        </div>

                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Form Elements</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">

                                <div class="control-group">
                                    <label class="control-label">Status of product</label>
                                    <div class="controls">
                                        <select id="chooseStatus" class="span11" name="status">
                                            @foreach (var item in ViewBag.st)
                                            {
                                                if (item == Model.status)
                                                {
                                                    <option selected>@item</option>
                                                }
                                                else
                                                {
                                                    <option>@item</option>
                                                }
                                            }
                                        </select>

                                        <hr>
                                        <div class="container">
                                            <!-- Button to Open the Modal -->
                                            <button type="submit" class="btn btn-success" id="myBtnSave">
                                                Save Changes
                                            </button>
                                            <button type="button" class="btn btn-danger" id="myBtnDelete"
                                                    data-toggle="modal" data-target="#myModalRemove">
                                                Remove this product
                                            </button>


                                            <div class="modal" id="myModalRemove" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Confirm</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body">Are you sure to remove this product?</div>

                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <a href="/Admin_Product/DeleteProduct/@Model.id"><button type="button" class="btn btn-danger">Remove</button></a>
                                                            <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<script>
    CKEDITOR.replace('editor')
</script>
<script src="~/Scripts/Admin/jquery.min.js"></script>
<script src="~/Scripts/Admin/jquery.ui.custom.js"></script>
<script src="~/Scripts/Admin/bootstrap.min.js"></script>
<script src="~/Scripts/Admin/bootstrap-colorpicker.js"></script>
<script src="~/Scripts/Admin/bootstrap-datepicker.js"></script>
<script src="~/Scripts/Admin/jquery.toggle.buttons.js"></script>
<script src="~/Scripts/Admin/masked.js"></script>
<script src="~/Scripts/Admin/jquery.uniform.js"></script>
<script src="~/Scripts/Admin/select2.min.js"></script>
<script src="~/Scripts/Admin/matrix.js"></script>
<script src="~/Scripts/Admin/matrix.form_common.js"></script>
<script src="~/Scripts/Admin/wysihtml5-0.3.0.js"></script>
<script src="~/Scripts/Admin/jquery.peity.min.js"></script>
<script src="~/Scripts/Admin/bootstrap-wysihtml5.js"></script>

<script>
    function enableFixing() {
        $('#myBtnSave').removeAttr('disabled');
        $("#editButton").hide();
        $('.imgInpOp').show();

        $("#imgInp").show();
        $(".span11").prop("disabled", false);
        $('#cancelButton').show();
    }
    function cancelFixing() {
        $('#myBtnSave').attr('disabled', 'disabled');
        $('#imgInp').hide();
        $('.imgInpOp').hide();
        $("#editButton").show();
        $('#cancelButton').hide();
        $(".span11").prop("disabled", true);
    }
    $('#cancelButton').hide();
    $('.imgInpOp').hide();

    
    $('#myBtnSave').attr('disabled', 'disabled');
    $('#imgInp').hide();
    $('.textarea_editor').wysihtml5();
    $("#myBtn").click(function () {
        $("#myModal").modal("show");
    })
    $("#productMenu").attr('class', 'active');
</script>



